body {
    overflow-x: hidden;
    background-image: url("../img/bgpattern.png");
}

h1{
    color: #008790;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 0;
    position: relative;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #098f98;
    box-shadow: 4px 0px 3px #08595f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border-radius: 0;
    background-color: #ffef99;
    border-color: #ffe86c;
    border-bottom-width: 3px;
    z-index: 1;
    position: relative;
}

.ejercicio{
    line-height: 69px;
    font-size: 20px;
    color: #505050;
}

.blanco{
    border-bottom: 1px solid #505050;
    position: relative;
    margin: 0px 7px;
    top: 20px;
    padding: 5px 26px;
    cursor: pointer;
    color: #FF9800;
    font-size: 13px;
    display: inline-block;
    height: 28px;
}

.miblanco{
	color: red;
    position: absolute;
    margin-left: 7px;
}

.word-selector{
	cursor: pointer;
	line-height: 17px;
}

.word-selector:hover{
	font-weight: bold;
}

.container-game {
    background-color: rgb(255, 255, 255);
    margin: -20px 30px;
    padding: 30px;
}

.wrapper-logo {
    width: 160px;
    margin: 19px;
}


.btn-default {
    color: #009597;
    background-color: #CEFFFB;
    border-color: #009597;
    box-shadow: 0 3px 0 #007273;
    border-radius: 50px;
    line-height: 54px;
    font-size: 24px;
    font-weight: bold;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    background-color: #7cfff4;
    color: #009597;
    border-color: #009597;
    box-shadow: 0 3px 0 #007273;
    border-radius: 50px;
}

.top-icons{
    text-align: center;
    height: 50px;
    padding: 5px;
}

.btn-top{
    font-size: 15px;
    height: 36px;
    width: 36px;
    padding: 9px;
    line-height: 0;
}
