<!DOCTYPE html>
<html lang="en" ng-app="talesApp">
<head>
	<meta charset="UTF-8">
	<title>Tall Tales</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="mainCtrl">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<img class="sa-logo" src="img/logo-sa-bubble.png" alt="">
			</div>

			<div class="top-icons">
				<button class="btn btn-lg btn-default btn-more btn-top" ng-click="soundPlay()">
			    	<i class="fa fa-play" aria-hidden="true"></i>
			    </button>
			    <button class="btn btn-lg btn-default btn-more btn-top" ng-click="soundPlay()">
			    	<i class="fa fa-volume-up" aria-hidden="true"></i>
			    </button>
			    <button class="btn btn-lg btn-default btn-more btn-top">
			    	<i class="fa fa-question" aria-hidden="true"></i>
			    </button>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">
						<img class="wrapper-logo" src="img/tt.png" alt="">
						<h4 style="margin-left:24%;">Tall Tales</h4>
					</a>
				</li>
				<li>
					<a href="#"style="margin-left:5%;font-size:22px;font-style:italic;">The Egg That Grew</a>
				</li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper"><br /><br />
			<div class="container-game" ui-view></div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<span style="color: #00abb5; font-size: 16px; display: inline-block; margin: 8px 24px;">Choose:</span>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" style="font-size: 36px;color: red;">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-3 text-center" ng-repeat="word in selectedWords" data-dismiss="modal" ng-click="selectWord(word)">
							<span class="square-choice">
				 			   <img ng-src="{{word.img}}" class="square-choice-img" style="margin:0">
							</span>
							<span class="text-choice">{{word.word}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Other dependencies -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.39.0.min.js"></script>

	<!-- Angular dependencies -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

	<!-- Angular App -->
	<script src="app.js"></script>
	<script src="controllers/main.js"></script>
	<script src="controllers/home.js"></script>
	<script src="controllers/loading.js"></script>
	<script src="controllers/firstLesson.js"></script>

	<!-- Menu Toggle Script -->
    <script>
    $("#wrapper").toggleClass("toggled")
    $("#menu-toggle").click(function(e) {
        e.preventDefault()
        $("#wrapper").toggleClass("toggled")
    })
    </script>

</body>
</html>
