<div class="text-center">
	<h1>The Mail Carrier Tall Tale</h1>
</div>

<br>

<p class="ejercicio">
	One day, the mail carrier visited my 

	<span ng-click="selectType('a', 'place')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="miblanco text-center">{{blanco.a}}</span>
		A PLACE
	</span>. 
	
	She was carrying a 

	<span ng-click="selectType('b', 'adjectives')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="miblanco">{{blanco.b}}</span>
		ADJECTIVE
	</span>
	 
	 pile of 

	<span ng-click="selectType('c', 'plural noun')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="miblanco">{{blanco.c}}</span>
		PLURAL NOUN
	</span> 

	for me. When I saw it, I shouted “That is so 

	<span ng-click="selectType('d', 'adjectives')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="miblanco">{{blanco.d}}</span>
		ADJECTIVE
	</span>

	!” The mail carrier smiled 

	<span ng-click="selectType('e', 'adverb')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="miblanco">{{blanco.e}}</span>
		ADVERB
	</span>

	 at me. As soon as she left, I ran upstairs to tell my 

	<span ng-click="selectType('f', 'living things')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="miblanco">{{blanco.f}}</span>
		A LIVING THING
	</span>.
</p>

