<div class="text-center">
	<h1>The Egg That Grew</h1>
</div>

<br /><br />

<p class="tales-box">
	There once was a tiny

	<span ng-click="selectType('a', 'noun')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="myblank text-center">
			<span class="square" ng-class="{'square-choice-correct': blanco.a != null && blanco.a.valid, 'square-choice-incorrect': blanco.a != null && !blanco.a.valid}">
				<img ng-src="{{blanco.a.img}}" class="square-choice-img"  ng-if="blanco.a != null" alt="">
			</span>
			<span class="tale-answer" ng-class="{'tale-answer-correct': blanco.a != null && blanco.a.valid, 'tale-answer-incorrect': blanco.a != null && !blanco.a.valid}">
				{{blanco.a.word}}
			</span>
		</span>
		NOUN
	</span>.

	Soon a

	<span ng-click="selectType('b', 'noun')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="myblank text-center">
			<span class="square" ng-class="{'square-choice-correct': blanco.b != null && blanco.b.valid, 'square-choice-incorrect': blanco.b != null && !blanco.b.valid}">
				<img ng-src="{{blanco.b.img}}" class="square-choice-img" ng-if="blanco.b != null" alt="">
			</span>
			<span class="tale-answer" ng-class="{'tale-answer-correct': blanco.b != null && blanco.b.valid, 'tale-answer-incorrect': blanco.b != null && !blanco.b.valid}">
				{{blanco.b.word}}
			</span>
		</span>
		NOUN
	</span>

	 came out. It

	<span ng-click="selectType('c', 'past verb')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="myblank text-center">
			<span class="square" ng-class="{'square-choice-correct': blanco.c != null && blanco.c.valid, 'square-choice-incorrect': blanco.c != null && !blanco.c.valid}">
				<img ng-src="{{blanco.c.img}}" class="square-choice-img" ng-if="blanco.c != null" alt="">
			</span>
			<span class="tale-answer" ng-class="{'tale-answer-correct': blanco.c != null && blanco.c.valid, 'tale-answer-incorrect': blanco.c != null && !blanco.c.valid}">
				{{blanco.c.word}}
			</span>
		</span>
		VERB
	</span>

	lots of

	<span ng-click="selectType('d', 'noun')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="myblank text-center">
			<span class="square" ng-class="{'square-choice-correct': blanco.d != null && blanco.d.valid, 'square-choice-incorrect': blanco.d != null && !blanco.d.valid}">
				<img ng-src="{{blanco.d.img}}" class="square-choice-img" ng-if="blanco.d != null" alt="">
			</span>
			<span class="tale-answer" ng-class="{'tale-answer-correct': blanco.d != null && blanco.d.valid, 'tale-answer-incorrect': blanco.d != null && !blanco.d.valid}">
				{{blanco.d.word}}
			</span>
		</span>
		NOUN
	</span>.

	It quickly became

	<span ng-click="selectType('e', 'adjectives')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="myblank text-center">
			<span class="square" ng-class="{'square-choice-correct': blanco.e != null && blanco.e.valid, 'square-choice-incorrect': blanco.e != null && !blanco.e.valid}">
				<img ng-src="{{blanco.e.img}}" class="square-choice-img" ng-if="blanco.e != null" alt="">
			</span>
			<span class="tale-answer" ng-class="{'tale-answer-correct': blanco.e != null && blanco.e.valid, 'tale-answer-incorrect': blanco.e != null && !blanco.e.valid}">
				{{blanco.e.word}}
			</span>
		</span>
		ADJECTIVE
	</span>.

	 Then it formed a

	<span ng-click="selectType('f', 'noun')" data-toggle="modal" data-target="#myModal" class="blanco">
		<span class="myblank text-center">
			<span class="square" ng-class="{'square-choice-correct': blanco.f != null && blanco.f.valid, 'square-choice-incorrect': blanco.f != null && !blanco.f.valid}">
				<img ng-src="{{blanco.f.img}}" class="square-choice-img" ng-if="blanco.f != null" alt="">
			</span>
			<span class="tale-answer" ng-class="{'tale-answer-correct': blanco.f != null && blanco.f.valid, 'tale-answer-incorrect': blanco.f != null && !blanco.f.valid}">
				{{blanco.f.word}}
			</span>
		</span>
		NOUN
	</span>.

	Next, it turned into a

   <span ng-click="selectType('g', 'noun')" data-toggle="modal" data-target="#myModal" class="blanco">
	   <span class="myblank text-center">
		   <span class="square" ng-class="{'square-choice-correct': blanco.g != null && blanco.g.valid, 'square-choice-incorrect': blanco.g != null && !blanco.g.valid}">
			   <img ng-src="{{blanco.g.img}}" class="square-choice-img" ng-if="blanco.g != null" alt="">
		   </span>
		   <span class="tale-answer" ng-class="{'tale-answer-correct': blanco.g != null && blanco.g.valid, 'tale-answer-incorrect': blanco.g != null && !blanco.g.valid}">
			   {{blanco.g.word}}
		   </span>
	   </span>
	   NOUN
   </span>.

   In four hours it could

  <span ng-click="selectType('h', 'verb')" data-toggle="modal" data-target="#myModal" class="blanco">
	  <span class="myblank text-center">
		  <span class="square" ng-class="{'square-choice-correct': blanco.h != null && blanco.h.valid, 'square-choice-incorrect': blanco.h != null && !blanco.h.valid}">
			  <img ng-src="{{blanco.h.img}}" class="square-choice-img" ng-if="blanco.h != null" alt="">
		  </span>
		  <span class="tale-answer" ng-class="{'tale-answer-correct': blanco.h != null && blanco.h.valid, 'tale-answer-incorrect': blanco.h != null && !blanco.h.valid}">
			  {{blanco.h.word}}
		  </span>
	  </span>
	  VERB
  </span>!
</p>


<div class="row" ng-if="completado">
	<div class="col-xs-4 text-center">
		<img src="img/congrats.png" width="100%" alt="">
	</div>
	<div class="col-xs-2 text-center">
		<img ng-click="soundPlay()" src="img/btn.png" style="margin-top: 50px;" alt="">
	</div>
	<div class="col-xs-6 text-right">
		<button class="btn btn-lg btn-default btn-more btn-with-symbol" style="margin-top:50px; padding: 0px 13px;" ng-click="playAgain()">
	    	Play again <i class="fa fa-arrow-right" aria-hidden="true"></i>
	    </button>
	</div>
</div>
